.card {padding: 17px;}
.card ul li {position: relative; border: 1px solid #d7d7d7; padding: 17px; margin-bottom: 17px; min-height: 102px; box-sizing: border-box;}
.card ul li span {position: absolute; left: 17px; top: 17px;}
.card ul li span img { width: 105px;}
.card ul li strong {display: block; font-size: 18px; color: #777; padding-left: 120px;}
.card ul li em {display: block; font-size: 14px; color: #777; font-weight: 300; padding-left: 120px;}
