.movie {padding: 100px 0; background-color: #f8f8f8;}
.movie_title {margin-bottom: 60px;}
.movie_title ul {overflow: hidden; width: 848px; margin: 0 auto;}
.movie_title button {float: left; width: 210px; text-align: center; border: 1px solid #c4c4c4; margin-right: -1px; padding: 15px 0; font-size: 18px; color: #666; font-weight: 700;}
.movie_title button.active {background-color: #fff;}