.opening_wrap {margin: 17px 0; background: url(../img/bg01.jpg) no-repeat center top; background-size: cover;}
.opening {padding: 100px 0; text-align: center; color: #bb9b51;}
.opening h2 {margin-bottom: 15px;}
.opening h2 .icon {background-image: url(../img/icon.png);}
.opening h2 .grand {background-position: 0 -175px; display: inline-block; width: 330px; height: 50px;}
.opening .icon {background-image: url(../img/icon.png);}
.opening .date {background-position: 0 -225px; display: inline-block; width: 260px; height: 45px;}
.opening .desc {font-size: 35px; font-weight: 300; padding-bottom: 20px; background: url(../img/bar.png) no-repeat bottom center; background-size: 100%;}
.opening .open_box {overflow: hidden; padding: 20px 3% 0 3%;}
.opening .open_box > div {float: left; width: 27.333%; margin: 4% 3% 0 3%; box-sizing: border-box; background: rgba(0, 0, 0, 0.5); border: 1px solid #3e4b44;}
.opening .open_box > div h3 {color: #fff; font-weight: 300; border: 1px solid #6e3abb; font-size: 19px; margin: -24px; display: inline-block; padding: 10px 20px; background: #551e9b;}
.opening .open_box > div p {font-size: 23px; color: #fff; font-weight: 700; padding: 6% 0 10% 0;}
.opening .open_box > div em { display: block; font-weight: bold;}
.opening .open_box > div strong { display: block; font-weight: bold;}